<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://weltfussball.de/</string>
	<string>http://store.maxdome.de/</string>
	<string>http://mobil.mopo.de/</string>
	<string>http://m.morgenpost.de/</string>
	<string>http://morgenweb.de/</string>
	<string>http://m.n24.de/n24/</string>
	<string>http://sportal.de/</string>
	<string>http://app.handelsblatt.com/</string>
	<string>http://thewatchseries.to/</string>
	<string>http://stimme.de/</string>
	<string>http://bz-berlin.de</string>
	<string>http://mobafire.com/</string>
	<string>http://motorsport-total.com</string>
	<string>http://mobil.bunte.de/</string>
	<string>http://karrierebibel.de/</string>
	<string>http://liga3-online.de</string>
	<string>http://bundesliga.de/</string>
	<string>http://selbst.de/</string>
	<string>http://eatsmarter.de/</string>
	<string>http://m.anibis.ch/</string>
	<string>http://mobil.ksta.de/</string>
	<string>http://m.eltern.de/</string>
	<string>http://autoplenum.de/</string>
	<string>http://meinestadt.de/</string>
	<string>http://clever-tanken.de</string>
	<string>http://schoener-fernsehen.com/mobile</string>
	<string>http://dmax.de/</string>
	<string>http://mmoga.de/</string>
	<string>http://mobil.berliner-kurier.de</string>
	<string>http://fanatik.com.tr</string>
	<string>http://thesimsresource.com/</string>
	<string>http://maedchen.de/</string>
	<string>http://pz-news.de</string>
	<string>http://mangago.me/</string>
	<string>http://parfumdreams.de/</string>
	<string>http://gamestar.de/</string>
	<string>http://echo.msk.ru</string>
	<string>http://m.11freunde.de/</string>
	<string>https://m.taz.de/</string>
	<string>https://m.finanztreff.de/</string>
	<string>http://app.wiwo.de/</string>
	<string>http://m.base.de/</string>
	<string>http://clipfish.de/</string>
	<string>http://mobil.pcwelt.de/</string>
	<string>http://filmstarts.de/</string>
	<string>http://tagesspiegel.de/</string>
	<string>http://video.sport1.de</string>
	<string>http://m.spielaffe.de/</string>
	<string>http://swr.de/</string>
	<string>http://berliner-zeitung.de</string>
	<string>http://tagesanzeiger.ch/</string>
	<string>http://promipool.de/</string>
	<string>http://transfermarkt.de/</string>
	<string>http://technikboerse.com/</string>
	<string>http://express.de/</string>
	<string>http://lecker.de/</string>
	<string>http://wunderweib.de/</string>
	<string>http://mangapark.me/</string>
	<string>http://travelbook.de/</string>
	<string>http://srf.ch/</string>
	<string>http://gamepro.de/</string>
	<string>http://autozeitung.de/</string>
	<string>http://de.marc-o</string>
	<string>http://de.tommy.com</string>
	<string>http://haber7.com/</string>
	<string>http://csgolounge.com/</string>
	<string>http://qvc.de/</string>
	<string>http://nw.de/</string>
	<string>http://4players.de/</string>
	<string>http://m.finanzen.net/</string>
	<string>http://hearthpwn.com/</string>
	<string>http://modhoster.de/</string>
	<string>http://readmanga.today/</string>
	<string>http://sport1.de/</string>
	<string>http://verivox.de/</string>
	<string>http://fernsehserien.de/</string>
	<string>http://rakuten.de/</string>
	<string>http://bravo.de/</string>
	<string>http://futhead.com/</string>
	<string>http://community.freenet.de</string>
	<string>http://mobil.krone.at/</string>
	<string>http://ran.de/</string>
	<string>http://fussballtransfers.com/</string>
	<string>http://rtlnext.rtl.de</string>
	<string>http://bild.de/</string>
	<string>http://m.hunkemoller.de/</string>
	<string>http://mods.curse.com</string>
	<string>http://vesti.ru/</string>
	<string>http://mz-web.de</string>
	<string>http://ofdb.de/</string>
	<string>http://lolskill.net/</string>
	<string>http://tiberiumalliances.com/</string>
	<string>http://tuifly.com/</string>
	<string>http://websingles.at/</string>
	<string>http://flightradar24.com/</string>
	<string>http://tchibo.de/</string>
	<string>http://bluewin.ch/</string>
	<string>http://randaris-anime.net</string>
	<string>http://anime-junkies.tv</string>
</array>
</plist>
